@media screen and (max-width: 900px) {
   .header2bio{
      background-color: yellow;
      color: black;
  }
  .sars1{
   width: 350px;
  
  }
.btn1a{
   background-color: yellow;

}
.slidar{
   margin: 0 auto;
   margin-left: 120px;
}


}