@media screen and (max-width: 900px) {
   .header2bio{
      background-color: yellow;
      color: black;
  }
  .sars1{
   width: 350px;
  
  }
.btn1a{
   background-color: yellow;

}
.slidar{
   margin: 0 auto;
   margin-left: 120px;
}

.short{

}

.inde{
   display: block;
   margin-left: 120px;
}
.slidar{
   display: block;
   margin: 0 auto;
   margin-right:15px;
}

.sars1{
  
width: 280px;  
  }
  .all-propati{
   margin-left: 320px;
  }

.media{
   display: flex;
   justify-content: center;
  align-items: center;
}














}

/* section 2 opan */



















}